.header {
    background-color: $color-white;
    display: flex;
    align-items: center;
    height: 7rem;
    padding: 0 1rem;
    @include box-shadow;

    &__logo {
        img {
            width: 4.5rem;
        }
        margin-right: 1rem;
    }

    &__title {
        font-family: inherit;
        font-size: 2.4rem;
    }
}