.layout {
    display: flex;

    @include respond(phone) {
        flex-direction: column;            
    }

    &__nav {
        width: 15%;

        @include respond(phone) {
            width: 100%;
        }
        ul {
            padding-top: 3rem;
            
            @include respond(phone) {
                width: 100%;
                
                .content-padding {
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                }

            }

            li {
                list-style: none;
                font-size: 1.7rem;
                
                &:not(:first-child) {
                    margin-top: 2.5rem;

                    @include respond(phone) {
                        margin-top: 0rem;
                        text-align: center;
                    }

                }

                @include respond(phone) {
                    width: 25%;
                }

                a {
                    transition: all .2s;
                }

                a,
                a:focus,
                a:visited {
                    color: $color-text-grey;
                    text-decoration: none;
                    width: 20rem;
                    display: block;
                    transition: all .2s;

                    @include respond(phone) {
                        width: auto;
                    }
                }

                a:focus,
                a:active {
                    padding-left: 5px;
                    border-left: 8px solid pink;

                    @include respond(phone) {
                        border-left: none;
                        border-bottom: 8px solid pink;
                    }
                }

            }
        }
    }

    &__content {
        padding-top: 3rem;
        width: 85%;
        padding: 3rem 2rem;
        padding-left: 8rem;

        @include respond(phone) {
            width: 98%;
            padding: 3rem 2rem;

        }
    }
}