.layout {
    display: flex;
    &__nav {
        width: 15%;
        ul {
            padding-top: 3rem;

            li {
                list-style: none;
                font-size: 1.7rem;
                
                &:not(:first-child) {
                    margin-top: 2.5rem;
                }

                a,
                a:focus,
                a:visited {
                    color: $color-text-grey;
                    text-decoration: none;
                    width: 20rem;
                    display: block;
                    transition: all .2s;
                }

                a:hover {
                }
            }
        }
    }

    &__content {
        padding-top: 3rem;
        width: 85%;
        padding: 3rem 2rem;
    }
}